name: Create Branch from Issue

on:
  issues:
    types: [assigned]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # This workflow automatically creates a branch when an issue is assigned
        # Branch naming is configured in .github/issue-branch.yml
        # Format: i{issue-number}-{issue-title-kebab-case}
